{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container mb-5">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 mb-3">
            <div><a href="{{ path('manager_show') }}">Retour à la liste</a></div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Ma liste de choses à faire</h3>
                    </div>

                    <div class="card-body">
                        {{ form_start(form) }}
                        <div class="form-group">
                            {% for category, choices in form.children.checklistItems.vars.choices %}
                                {% if category == 'todo' %}
                                    {% for key, choice in choices %}
                                        {{ form_widget(form.checklistItems[key]) }}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Mes documents</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            {% for category, choices in form.children.checklistItems.vars.choices %}
                                {% if category == 'doc' %}
                                    {% for key, choice in choices %}
                                        {{ form_widget(form.checklistItems[key]) }}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
