{% extends 'layout.html.twig' %}

{% block title %}Content index{% endblock %}

{% block body %}
    <div class="container">
    <h1>L'index des contenus</h1>

    <table class="table text-white">
        <thead>
            <tr>
                <th>Contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for content in contents %}
            <tr>
                <td>{{ content.content }}</td>
                <td>
                    <a href="{{ path('content_show', {'id': content.id}) }}">Voir</a>
                    <a href="{{ path('content_edit', {'id': content.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('content_new') }}">Créer</a>
    </div>
{% endblock %}
