{% extends 'layout.html.twig' %}

{% block title %}New Content{% endblock %}

{% block body %}
    <div class="container">
    <h1>Créer un nouveau contenu</h1>

    <div class="text-white">{{ include('content/_form.html.twig') }}</div>

    <a href="{{ path('content_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
