@import "~bootstrap/scss/bootstrap";
@import "vars";
@import "fonts";
@import "header";
@import "checklist";
@import "login_page";
@import "navbar";
@import "timeline";

body {
    font-family: $mainFont;
    background-color: darken($darkBlue, 20);
}

.container {
    margin-top: 5rem;
}

h1 {
    margin-bottom: 2rem;
    color: $darkBlue;
}
