.card {
  margin-left: 4rem;
  background-color: rgba(250, 250, 250, 0.9);
  .card-header {
    background-color: $yellow;
  }
  legend {
    display: none;
  }
}

.form-check {
  margin: 0.5rem;
  .form-check-label {
    margin-left: 1rem;
  }
}
