.container {

  padding-top: 3rem;

  .progress {
    margin: auto;
    height:2rem;
    width: 70%;
    text-align:center;

    .progress-bar {
      background-color: $yellow;
    }

    .massive-font{
      font-size: 30px;
      text-align: center;
      color: white;
    }
  }

  .card {
    margin: 2rem;
    background-color:$darkerBlue;

    .card-header {
      background-color: $lightBlue;
    }

    legend {
      display: none;
    }

    button {
      background-color: $yellow;
      border: 1px $yellow solid;
    }

    .form-check {
      margin: 0.5rem;

      .form-check-label {
        margin-left: 1rem;
      }
    }
  }
}


