.container {

  .flash-success {
    color: $lightBlue;
    font-size: 1.5rem;
  }

  .progress {
    margin: auto;
    height:2rem;


    .progress-bar {
      background-color: $yellow;
    }
  }

  .card {
    margin: 2rem;
    background-color:$cardsColor;
    color: $fontColor;
    font-size: 1.2rem;

    .card-header {
      background-color: $cardsColor;
    }

    legend {
      display: none;
    }

    button {
      background-color: $yellow;
      border: 1px $yellow solid;
    }

    .form-check {
      margin: 0.5rem;

      .form-check-label {
        margin-left: 1rem;
      }
    }
  }
}


