.head-block {
  background: $yellow;
  height: 9rem;
  min-height: 9rem;
  margin-left: 12rem;
}

.fa-user-circle {
  color: $darkBlue;
  font-size: 6rem;
}

.info, .infoA {
  font-size: 1.5rem;
  .my-name {
    color: $darkBlue;
  }
  p {
     margin: .4rem;
   }
}
