.head-block {
  background: $lightBlue;
  height: 9rem;
  min-height: 9rem;
  margin-left: 12rem;
  color: white;
  .rdv {
    border: 3px $yellow double;
    padding: 0.6rem;
  }
}

.fa-user-circle {
  color: $darkBlue;
  font-size: 6rem;
}

.info, .infoA {
  font-size: 1.5rem;
  .my-name {
    color: $darkBlue;
  }
  p {
     margin: .4rem;
   }
}
