.vertical-nav {
    min-width: 10rem;
    width: 10rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    background-color: $cardsColor;

    .nav-content {
        position: fixed;
        width: 10rem;
    }
    .nav-title {
        color: $darkBlue;
    }

    .nav-link {
        color: $fontColor;
        padding-right: 2px;
        &:hover {
          color: $yellow;
        }
    }
    .cornerlogo {
        width: 100%;
        margin-top: 1.8rem;
        margin-bottom: 1.8rem;
        padding: 1rem;
    }
}


@media (max-width: 700px) {
    #sidebar {
        margin-left: -10rem;
    }
    .page-content {
        width: 100%;
        margin: 0;
    }
}
