.profile-page {
  margin-top: 5rem;
  width: 85%;

  .profile-card {

    table {
      width: 100%;

      td {
        padding-bottom: 1rem;
      }

      .progress-td {
        width: 60%;
      }
    }
  }
}
.link-profile {
  color: $fontColor;
  &:hover {
    color: $yellow;
  }


}

.appointment-table {
  width: 95%;
  tr {
    height: 3rem;
  }
}
