{% extends 'layout.html.twig' %}

{% block title %}Edit IntegrationStep{% endblock %}

{% block body %}
    <div class="container">
    <h1>Éditer une nouvelle étape d'intégration</h1>

    <div class="text-white">{{ include('integration_step/_form.html.twig', {'button_label': 'Mettre à jour'}) }}</div>

    <a href="{{ path('integration_step_index') }}">Retour à la liste</a>

    {{ include('integration_step/_delete_form.html.twig') }}
    </div>
{% endblock %}
