{% extends 'layout.html.twig' %}

{% block title %}Edit Appointment{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier un rendez-vous</h1>

        {{ include('appointment/_form.html.twig', {'button_label': 'Modifier'}) }}

        {{ include('appointment/_delete_form.html.twig') }}

        <div class="d-flex justify-content-center mb-5">
            <a class="btn btn-primary" href="{{ path('profile', {'user': appointment.user.id}) }}">Retour</a>
        </div>
    </div>
{% endblock %}
