{% extends 'layout.html.twig' %}

{% block title %}Planifier un rendez-vous{% endblock %}

{% block body %}
    <div class="container">
        <h1>Planifier un rendez-vous</h1>
        <a href="{{ path('appointment_index') }}">Retour au planning des entretiens</a>
        {{ include('appointment/_form.html.twig') }}
    </div>

{% endblock %}
