{% extends 'layout.html.twig' %}

{% block title %}Planifier un rendez-vous{% endblock %}

{% block body %}

    <div class="container">
        <h1>Planifier un rendez-vous avec {{ collaborator.firstname }} {{ collaborator.lastname }}</h1>

        {{ include('appointment/_form.html.twig') }}

        <a class="btn btn-primary" href="{{ path('manager_show', {'user': app.user.id }) }}">Retour</a>
    </div>

{% endblock %}
