<div class="d-flex align-items-center justify-content-around head-block" >
    <div class="rdv">
        <h4>Mes prochains rendez-vous</h4>
        <p class="m-2">24/01/2020 Première journée d'intégration au siège</p>
        <p class="m-2">25/01/2020 Rencontre de mon manager</p>
    </div>

    <div class="infoA">
        <p>Résidence : <strong>Lacanau</strong></p>
        <p>Manager : <strong>Martin Durand</strong></p>
        <p>Référent métier : <strong>Baptiste Chameau</strong></p>
        <p>Parrain : <strong>Hélène Richard</strong></p>

    </div>
    <div class="info">
        <h4 class="my-name"><strong>Martine Dupont</strong></h4>
        <h4>Responsable de site</h4>
    </div>
    <div class="picture-avatar">
        <i class="fas fa-user-circle"></i>
    </div>

</div>
