<div class="d-flex head-block" >
    <div class="mr-auto p-2 ml-3 bd-highlight">
        <fieldset>
           <legend>Mes prochains rendez-vous</legend>
           <p class="m-2">24/01/2020 Première journée d'intégration au siège</p>
           <p class="m-2">25/01/2020 Rencontre de mon manager</p>
        </fieldset>
    </div>

        <div class="infoA">
            <p>Résidence</p>
            <p>Parrain</p>
        </div>
        <div class="info">
            <p>Nom Prénom</p>
            <p>Ma fonction</p>
        </div>
        <div class=".d-flex mx-2 my-2">
            <img class="picture-avatar" src="http://golem13.fr/wp-content/uploads/2019/01/Avatar2-et-3-termines.jpg" alt="">
        </div>


</div>