    <div>
        <ul class="nav flex-column mb-0">
            {% for category in categories %}
                <li class="nav-item">
                    <a href="{{ path('info', {'category': category.id }) }}" class="nav-link">
                        <i class="fas fa-cubes mr-3 fa-fw"></i>
                    {{ category.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
