<div class="vertical-nav" id="sidebar">

    <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Mon Welcome Pack</p>

    <ul class="nav flex-column mb-0">
        <li class="nav-item">
            <a href="#" class="nav-link text-dark font-italic bg-light">
                <i class="fas fa-tasks mr-3 text-primary fa-fw"></i>
                Ma checklist
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark font-italic bg-light">
                <i class="fas fa-toolbox mr-3 text-primary fa-fw"></i>
                Ma boîte à outils
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark font-italic bg-light">
                <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                Nemea
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark font-italic bg-light">
                <i class="fas fa-history mr-3 text-primary fa-fw"></i>
                Mon bilan de parcours
            </a>
        </li>
    </ul>

    <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Le coin du manager</p>

    <ul class="nav flex-column mb-0">
        <li class="nav-item">
            <a href="#" class="nav-link text-dark font-italic bg-light">
                <i class="fas fa-clipboard-list mr-3 text-primary fa-fw"></i>
                La checklist du manager
            </a>
        </li>
    </ul>
</div>