{% extends 'base.html.twig' %}

{% block main %}
    <div class="main d-flex">
            {% include '_nav.html.twig' %}
        <div class="main-content">
            <header>
                {% include '_header.html.twig' %}
            </header>
            <div class="container">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
