{% extends 'layout.html.twig' %}

{% block title %}Boîte à outils{% endblock %}

{% block body %}

    <div class="container">
        <div class="page-header">
            <h1>Ma boîte à outils</h1>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="card">
                        <h5 class="card-header font-weight-bold text-uppercase text-center py-4 mb-0">HORSYS</h5>
                        <div class="card-body">
                            <p class="card-text card-text-toolbox">La solution Horsys est accessible depuis une page
                                web. Elle vous permet
                                de :</p>
                            <ul class="toolbox">
                                <li>Consulter et gérer les demandes des collaborateurs (congés, abscences...)</li>
                                <li>Plannifier les plannings horaires de votre équipe</li>
                                <li>Visualiser les fins de contrat</li>
                                <li>Valider et visualiser les feuilles de temps de vos collaborateurs</li>
                            </ul>
                            <p class="card-text card-text-toolbox">Vous trouverez le guide d'utilisation et toutes les
                                informations dont vous avez besoin
                                sur votre clé USB ainsi que dans le Book d'outils</p>
                        </div>
                        <div class="text-center mb-4">
                            <a href="#" class="btn btn-primary">Lancer l'application</a>
                        </div>
                        <div class="card-footer text-muted">
                            Pour toute problématique en lien avec la solution, prenez contact avec le service RH.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="card">
                        <h5 class="card-header font-weight-bold text-uppercase text-center py-4 mb-0">EURECIA</h5>
                        <div class="card-body">
                            <p class="card-text card-text-toolbox">La solution Eurecia est accessible depuis une page
                                web ou bien de votre
                                Smartphone. Elle vous permet de :</p>
                            <ul class="toolbox">
                                <li>Soumettre à validation vos notes de frais en temps réel en y joignant vos différents
                                    justificatifs en PJ
                                </li>
                                <li>Catégoriser vos dépenses par thème et/ou par déplacement</li>
                                <li>Suivre l'état d'avancement du traitement de vos saisies en temps réel</li>
                            </ul>
                            <p class="card-text card-text-toolbox">Vous trouverez le guide d'utilisation et toutes les
                                informations dont vous avez besoin
                                sur votre clé USB ainsi que dans le Book d'outils</p>
                        </div>
                        <div class="text-center mb-4">
                            <a href="#" class="btn btn-primary">Lancer l'application</a>
                        </div>
                        <div class="card-footer text-muted">
                            Pour toute problématique en lien avec la solution, prenez contact avec le service
                            Comptabilité.
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="card">
                        <h5 class="card-header font-weight-bold text-uppercase text-center py-4 mb-0">IRESA</h5>
                        <div class="card-body">
                            <p class="card-text card-text-toolbox">Iresa est un logiciel de gestion de suivi des
                                réservations, interne au
                                Groupe Nemea.</p>
                            <p class="card-text card-text-toolbox">Il s'agit d'une solution sur laquelle vous pourrez
                                retrouver un suivi
                                en temps réel des réservations effectuées sur votre résidence. </p>
                            <p class="card-text card-text-toolbox">Iresa vous permettra également d'avoir une visibilité
                                sur les
                                différentes prestations réservées par séjour.</p>
                        </div>
                        <div class="text-center mb-4">
                            <a href="#" class="btn btn-primary">Lancer l'application</a>
                        </div>
                        <div class="card-footer text-muted">
                            Pour toute problématique en lien avec la solution, prenez contact avec le service
                            Commercial.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="card">
                        <h5 class="card-header font-weight-bold text-uppercase text-center py-4 mb-0">SILAE</h5>
                        <div class="card-body">
                            <p class="card-text card-text-toolbox">La solution Silae est un logiciel de gestion des
                                contrats Extras.</p>
                            <p class="card-text card-text-toolbox">Elle vous permettra la génération des Déclarations
                                Préalables à
                                l'Embauche (DPAE) et de renseigner le nombre d'heures effectuées dans le mois par le
                                salarié et par contrat, afin que le service paie puisse générer les bulletins de
                                salaires.</p>
                            <p class="card-text card-text-toolbox">Vous trouverez le guide d'utilisation et toutes les
                                informations dont vous avez besoin
                                sur votre clé USB ainsi que dans le Book d'outils</p>
                        </div>
                        <div class="text-center mb-4">
                            <a href="#" class="btn btn-primary">Lancer l'application</a>
                        </div>
                        <div class="card-footer text-muted">
                            Pour toute problématique en lien avec la solution, prenez contact avec le service RH.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="card card-progidoc">
                        <h5 class="card-header font-weight-bold text-uppercase text-center py-4 mb-0">PROGIDOC</h5>
                        <div class="card-body">
                            <p class="card-text card-text-toolbox">Progidoc est un logiciel de dématérialisation des
                                factures fournisseurs
                                et des demandes d'achats. Cet outil permet d'intégrer les devis pour les soumettre à
                                validation au manager.</p>
                            <p class="card-text card-text-toolbox">Une fois ces derniers validés, Progidoc permettra
                                d'avoir un suivi des
                                dépenses effectuées et de suivre la facturation des différents achats.</p>
                        </div>
                        <div class="text-center mb-4">
                            <a href="#" class="btn btn-primary">Lancer l'application</a>
                        </div>
                        <div class="card-footer text-muted">
                            Pour toute problématique en lien avec la solution, prenez contact avec le service
                            Comptabilité.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
