{% extends 'layout.html.twig' %}

{% block title %}New document{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ajouter un document</h1>

        {{ include('document/_form.html.twig') }}

        <a href="{{ path('document_index') }}">Retour à la liste</a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('inputDocument') }}
{% endblock %}

